# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Google Cloud credentials and environment variables
.env

# Data
*.csv


# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Streamlit cache files
.streamlit/
.cache/
# Streamlit-specific cache for files
.cache_data/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDEs and editor files
.vscode/
.idea/
